body {
    margin: 0;
    padding: 0;    
    min-width: 1200px;
    font-family: Roboto, Arial, san-serif;    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    background: #fb565a;
    color: #fff;
    text-transform: uppercase;
    font-family: Roboto, Arial, san-serif;
    font-weight: bold;
}

.page-header {
    min-height: 545px;
    background: lightgrey;
}

.wrapper-header {
    display: flex;
    flex-wrap: wrap;
}

.page-header__logo {
    padding-top: 50px;
    width: 160px;
    display: flex;
}

.main-navigation {    
    box-sizing: border-box;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 76px;
    margin-left: 201px;
}

.main-navigation a {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.main-navigation a:not(:first-child) {
    margin-left: 46px;
}

.main-navigation a:last-child {
    margin-left: 0;
    margin-left: 286px;
}

.features {
    font-family: inherit;
    width: 380px;
    padding: 0;
    margin: 0;
    margin-top: 77px;
}

.features h1 {
    font-size: 55px;
    line-height: 55px;
    padding: 0;
    margin: 0;
}

.features p {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 27px;
}

.features__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    line-height: 18px;
    margin-top: 40px;
}

.slide {
    display: none;
}

.slide:nth-child(1) {
    display: block;
  }

div, p, nav, li, a {
    outline: red solid 1px;
}