body {
    margin: 0;
    padding: 0;    
    min-width: 1140px;
    font-family: Roboto, Arial, san-serif;    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-header {
    min-height: 545px;
    background: lightgrey;
    
}

.wrapper-header {
    display: flex;
    flex-wrap: wrap;
}

.page-header__logo {
    padding-top: 50px;
    width: 160px;
    display: flex;
}

.main-navigation {
    font-family: inherit;
    box-sizing: border-box;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

div, p, nav, li, a {
    outline: red solid 1px;
}