body {
    margin: 0;
    padding: 0;    
    min-width: 960px;
    font-family: Roboto, Arial, san-serif;    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.page-header {
    min-height: 545px;
    background: lightgrey;
    box-sizing: border-box;
}

.page-header__logo {
    display: block;
    padding-top: 50px;
}

.main-navigation {
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-navigation__list {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 800px;
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;   
}

.main-navigation__list a {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 30px;
}

.main-navigation li {
    list-style: none;    
}